div.project__container{
    flex-direction: row;
    overflow-y: scroll;
}

div.project_form__container {
    flex: 2;
    height: auto;
}

.form__container__top__project {

}

.form__container__middle {
    
}

.form__row__bottom {

}

.map__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    gap: 30px;
}

.map__container__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.map__container__top h1 {
    font-size: 2rem;
}

/* Media query untuk ukuran layar max hp (smartphone) */
@media (max-width: 1350px) {
    /* Gaya CSS khusus untuk ukuran layar max hp */
    /* Misalnya, mengubah ukuran font atau mengubah tata letak untuk ukuran layar kecil */
    div.project_form__container {
        overflow-y: scroll;
    }
    
  }