.data__profile__container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.data__profile__container h1 {
    font-size: 1.5rem;
}

.data__profile__children{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__row__right div {
    width: 100%;
}
