.karyawanformedit__container {
    display: flex;
    flex-direction: column;
    background-color: #925FE2;
    justify-content: space-between;
    padding: 3rem 2rem;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}