.useraccess__container{
    display: flex;
    width: 100%;
    height: 100%;
}

.user__access__top {
    padding: 1rem;
}

.user__access__top h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.user__access__middle {
    margin-top: 10px;
}

.user__access__middle__top {
    display: flex;
    justify-content: flex-end;
}

.user__access__middle__bottom {
    padding: 1rem;
}

.access__row {
    display: flex;
    border-bottom: 1px solid #dee2e6;
}

.access__row h1 {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

span.MuiTypography-root {
    color: black;
}

.access__row__left {
    width: 300px;
}

.access__row__right {
    display: flex;
    align-items: center;
}

.access__row__right__parent {
    display: flex;
    flex-direction: column;
}

.user__access__dropdown {
    width: 20%;
}

.user__access__dropdown .dropdown-menu {
    width: 100%;
}
