.dashboard__container {
    display: flex;
    flex-direction: column;
    background-color: #53a8b6;
    justify-content: space-between;
    padding: 3rem 2rem;
    gap : 5px;
    height: 100%;
    overflow-y: scroll; /* Mengaktifkan scroll, tetapi sembunyikan scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer dan Microsoft Edge */
}


.grafik__data__kehadiran{
    margin-top: 0;
}

.grafik__data__kehadiran h1{
    color: #FFF;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    display: inline;
    font-family: 'Mulish', sans-serif;
    
}

.keterangan h1{
    font-size: 1rem;
    color: #9FA2B4;
    display: flex;
    justify-content: center;
    margin: 1rem;
}


.keterangan {
    border-radius: 8px 8px;
    min-height: 100px;
 
    display: flex;
    gap: 10px;
    justify-content:space-between;
    
}

.box {
    background-color: #FFF;
    flex: 1;
    border-radius: 5%;

}

.box h2{
    color: #1C1D21;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}

.grafik__data__member {
    background-color: #FFF;
    display: flex;
    padding: 2rem;
    border-radius: 8px 8px;
    gap: 1.5rem;
}

.grafik__data__member h1 {
    color:  #1C1D21;
    margin-left: 1rem;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    font-family: 'Mulish', sans-serif;
}

.left__container__dashboard {
    display:flex;
    flex-direction: column;
    letter-spacing: 0.3px;
    gap: 10px;
    flex: 2;
    position: relative;
    
}

.left__container__dashboard h2{
    font-size: 0.8rem;
}


.hari {
    display: flex;
    justify-content: space-between;
}

.hari h2{
    color: #9FA2B4;
    margin-left: 1rem;
}

.right{
    display: flex;
    gap: 10px;
    padding-right: 1.5rem;
}



.right__container__dashboard {
    background: var(--Putih);
    min-height: 10px;
    margin: 0;
    display: flex;
    flex-direction:column;
    width: 20%;
    gap: 10px;
    flex-wrap: wrap;
}

.right__container__dashboard h1 {
    font-size: 1rem;
    color: #9FA2B4;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.box1 {
    background-color: #FFF;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box1 h2{
    color: #1C1D21;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.data__member {
    background-color: #FFF;
    height: 200px;
    border-radius: 0.5rem;
    margin: 1rem;
}

.data__member h1 {
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    display: inline;
    font-family: 'Mulish', sans-serif;
    margin: 1rem;
}

.horizontal_line {
    width: 100%;
    height: 2px;
    background-color: #DFE0EB;
}

.vertikal_line {
    border-right: 2px solid #DFE0EB;
    height: 100%;
    position: absolute;
    right: 0;
}

.recharts-wrapper {
    width: 100%;
}

.data__member {
    height: auto;
}

.data__member h1 {
    color: #1C1D21;
    margin-left: 1rem;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    font-family: 'Mulish', sans-serif;
}


/* Media query untuk ukuran layar max hp (smartphone) */
@media (max-width: 767px) {
    /* Gaya CSS khusus untuk ukuran layar max hp */
    /* Misalnya, mengubah ukuran font atau mengubah tata letak untuk ukuran layar kecil */
    .sidebar__container {
        display: none;
    }
    .content__container {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .login__container {
        width: 80vw;
        height: 80vh;
    }
}