.search__button {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid var(--almost-black);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.search__button:hover {
    background-color: var(--almost-black);
    transition: 200ms all ease-in;
}

.add__button {
    display: flex;
    width: 90px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: var(--almost-black);
    color:#FFFFFF;
    border: 2px solid var(--almost-black);
    padding: 0.35rem 0.25rem;
    font-size: 0.875rem;
    margin-top: 5rem;
    text-decoration: none;
}

.add__button:hover {
    background-color: transparent;
    transition: 200ms all ease-in
}

.cancel__button {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    border: 2px solid var(--almost-black);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.cancel__button:hover {
    background-color: var(--almost-black);
    transition: 200ms all ease-in;
    color: #FFF;
}

.submit__button {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: var(--almost-black);
    color: #FFF;
    border: 2px solid var(--almost-black);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.submit__button:hover {
    background-color: transparent;
    transition: 200ms all ease-in;
    color: black;
}