#dropdown-basic {
    color: black;
    background-color: #FFF;
    border: #FFF;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    justify-content: space-between;
}

#dropdown-basic:hover {
    background-color: rgb(236, 229, 229);
}

.dropdown-menu.show {
    width: 100%;
}

a.dropdown-item:hover {
    background-color: rgb(236, 229, 229);
}