.input__container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: flex-end;
    gap: 20px;
}

.left__container__input {
    display: flex;
    gap: 20px;
}

.right__container__input {
    display: flex;
    gap: 20px;  
}