.data__alamat__container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.data__alamat__container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.data__alamat__children{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}   