@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Poppins:wght@400;500;600;700&display=swap');

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.changepass__container{
    display: flex;
    width: 30vw;
    height: 80vh;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    justify-content: center;
}

.left__container__change {
    background-color: var(--almost-black);
    border-radius: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 2rem;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    border : 0px solid rgba(255, 255, 255, 0.40);
    border-bottom-width : 1px;
    background-color : transparent;
    color: #FFFFFF;
}


/* Media query untuk ukuran layar max hp (smartphone) */
@media (max-width: 767px) {
    /* Gaya CSS khusus untuk ukuran layar max hp */
    /* Misalnya, mengubah ukuran font atau mengubah tata letak untuk ukuran layar kecil */
    .login__container {
        width: 80vw;
        height: 80vh;
    }
}
  
  @media (max-width: 1300px) {
    .login__container {
        width: 80vw;
        height: 80vh;
    }
  }
