.form__container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    gap: 30px;

}

.horizontal__line {
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
}


.form__container__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__container__top h1 {
    font-size: 2rem;
}

.form__row {
    display: flex;
    gap: 20px;
}

.form__row__left {
    display: flex;
    align-items: center;
    width: 230px;
}

.form__row__left p {
    color: black;
    margin: 0;
}

.form__row__right {
    width: 100%;
}

.form__row__right__label {
    display: flex;
    width: 100%;
    padding: 0.375rem 0.75rem;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}


.form__row__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.form__row .upload {
    display: flex;
    width: 100%;
}

.form__row .upload .form-label {
    color: black;
}

.form__row .upload .form__row__left {
    width: 200px;
}

.form__row .upload .form__row__right {
    width: 100%;
}

.form__flex__section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.form__container__middle {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-direction: column;
}

.middle__left, .middle__right {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.middle__left {
    width: 45%;
}

.middle__right {
    width: 45%;
}

form {
    flex: 2;
}

input.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    cursor: auto;
}

input[type="radio"] {
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }

input#formFile.tambah_foto.form-control {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

div.section__header {
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
}

div.section__header__top i {
    color: black;
}

