* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  :root {
    --almost-black: #1C1D21; 
    --teal: #53a8b6;
    --button-purple:#9C6FE4; 
    --selected-icon: #DDE2FF;
    --selected-text: #DDE2FF;
    --selected-box: #9fa2b447;
    --unselected-icon: #9FA2B4;
    --unselected-text: #a4a6b383;
    --gray-light: #C5C7CD;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #535bf2;
  }

  .parent__container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}


.sidebar__container {
  min-width: 12vw;
  background-color: var(--almost-black);
  color: var(--unselected-icon);
  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* Mengaktifkan scroll, tetapi sembunyikan scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer dan Microsoft Edge */
  height: 100%;
}

main {
  min-width: 88vw;
}

  .content__container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
    background-color: #5F8670;
    height: 100%;
    overflow-y: scroll; /* Mengaktifkan scroll, tetapi sembunyikan scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer dan Microsoft Edge */
    
}

.input__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.left__container__input {
  display: flex;
  gap: 20px;
}

.right__container__input {
  display: flex;
  gap: 20px;  
}

div .dropdown {
  height: 100%;
}

.right__container__input button {
  margin: 0;
  height: 40px;
}

.section__header {
  display: flex;
  flex-direction: column;
}

.section__header__top {
  display: flex;
  padding: 0.375rem 0;
  justify-content: space-between;
}

.section__header__top h1 {
  margin: 0;
}

div.jJhCqB div:first-child {
  white-space:inherit;
  padding: 10px 0;
}



/* Media query untuk ukuran layar max hp (smartphone) */
@media (max-width: 1500px) {
  /* Gaya CSS khusus untuk ukuran layar max hp */
  /* Misalnya, mengubah ukuran font atau mengubah tata letak untuk ukuran layar kecil */
  .sidebar__container {
      display: none;
  }

  main {
      width: 100vw;
  }
}
