* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  
  :root {
    --almost-black: #1C1D21; 
    --purple: #925FE2;
    --button-purple:#9C6FE4; 
    --selected-icon: #DDE2FF;
    --selected-text: #DDE2FF;
    --selected-box: #9fa2b447;
    --unselected-icon: #9FA2B4;
    --unselected-text: #a4a6b383;
    --gray-light: #C5C7CD;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #535bf2;
  }

  main {
    height: 100%;
    width: 100%;
  }

  .content__container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    width: 100%;
    gap: 1rem;
    background-color: var(--purple);
}

.left__container__input {
  flex-wrap: wrap;
}

div .dropdown {
  height: 100%;
}

.right__container__input button {
  margin: 0;
  height: 40px;
}

